* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  top: 40px;
left: 240px;
width: 97px;
height: 55px;
}
.header {
  background-color: blue;
  display: flex;
  flex-direction: row;
}
.ul {
  color: white;
  width: 872px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 22px;
  justify-content: space-between;
}